<div class="container mx-auto py-8">
  <h1 class="text-2xl font-bold mb-6">Projects</h1>

  <div class="overflow-x-auto">
    <table class="min-w-full bg-white border border-gray-300">
      <thead class="bg-gray-200">
      <tr>
        <th class="w-1/6 py-2 px-4 text-left uppercase font-semibold text-sm border border-gray-300">Name</th>
        <th class="w-1/3 py-2 px-4 text-left uppercase font-semibold text-sm border border-gray-300">Description</th>
        <th class="w-1/8 py-2 px-4 text-left uppercase font-semibold text-sm border border-gray-300">Status</th>
        <th class="w-1/8 py-2 px-4 text-left uppercase font-semibold text-sm border border-gray-300">Priority</th>
        <th class="w-1/8 py-2 px-4 text-left uppercase font-semibold text-sm border border-gray-300">Start Date</th>
        <th class="w-1/8 py-2 px-4 text-left uppercase font-semibold text-sm border border-gray-300">End Date</th>
        <th class="w-1/8 py-2 px-4 text-left uppercase font-semibold text-sm border border-gray-300">Actions</th>
      </tr>
      </thead>
      <tbody id="projects_table_body">
      <% @projects.each do |project| %>
      <%= render "projects/table_row", project: %>
      <% end %>
      </tbody>
    </table>
    <%= turbo_frame_tag :pagination,
                        src: projects_path(page: @pagy.next, format: :turbo_stream),
                        loading: :lazy do %>
    <% end %>
  </div>
</div>
